.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #282c34;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  opacity: 0.7;
  min-width: 1000px;
}
.header .navbar-light .navbar-nav .nav-link {
  color: #FFF;
}
.header .navbar-light .navbar-nav .nav-link:hover {
  color: rgb(30, 239, 222);
  background-color: #0b0b0c;
}
.header .navbar-light .navbar-brand {
  color: #FFF;
  margin-left: 20px;
}
.header .navbar-light .navbar-brand:hover {
  color: rgb(30, 239, 222);
}
.header .navbar-collapse {
  flex-grow: 0;
  margin-right: 20px;
}

.back-video-container {
  position: relative;
  width: 100%;
}
.back-video {
  width: 100%;
  height: auto;
  z-index: -1;
}
.back-video::-webkit-media-controls {
  display:none !important;
}
.back-video-text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
}
.back-video-text {
  color: #FFF;
  font-size: 50px;
  user-select: none;
}
.contacts-container {
  margin-top: 80px;
  display: flex;
  color: #FFF;
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
}
.back-photo-contacts {
  width: 100%;
  height: auto;
  z-index: -1;
}
.contacts-button:hover {
  color: white !important;
  background-color: #282c34 !important;
  cursor: pointer;
}
.contacts-button {
  color: rgb(189, 187, 187) !important;
}
.contacts-button.active{
  color: rgb(17, 43, 148) !important;
  background-color:rgb(30, 239, 222) !important;
  opacity: 0.8;
}
.home-textb {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 40px;
  user-select: none;
  cursor: disabled;
}
.text-razrab {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 0px 200px;
  display: flex;
  color: #FFF;
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  font-size:17px;
  text-align: justify;
}
.back-photo-razrabotka {
  width: 100%;
  height: auto;
  z-index: -1;
}
.photo-razrabotka {
  width: 90%;
}
.text-works {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 0px 300px;
  display: flex;
  color: #FFF;
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  font-size:17px;
  text-align: justify;
}
.text-history {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding: 0px 150px;
  display: flex;
  color: #FFF;
  position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  font-size:17px;
  text-align: justify;
}
.footer {
  background-color: #282c34;
  color:  white;
}
.devby {
  display: flex;
  justify-content: center;
  margin:  0px;
}
.devby > img {
  margin-right: 10px;
}
#root {
  min-width: 1000px;
}